<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pane Dolce</title>
    <link rel="shortcut icon" href="img/pane dolce logo.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-head">
        <h1>Pane Dolce</h1>
     </div>
    <div class="topnav" id="myTopnav">
        <a href="#" class="active">Home</a>
        <a href="Order.html">Daftar Order</a>
        <a href="testimoni.html">Testimoni</a>
        <div class="dropdown">
          <button class="dropbtn">Contact Us
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="instagram.html">instagram</a>
            <a href="tiktok.html">Tiktok</a>
            <a href="wa.html">Whatsapp</a>
          </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>

      <main>
        <section class="hero">
          <h1>Welcome to PaceDolce Web Order</h1>
          <p>
            ingin mencoba roti dengan tekstur dan rasa yang premium?
          </p>
          <a href="#" class="button" onclick="order()">Click Disini</a>
        </section>
        <section class="features">
          <h2>Our Product </h2>
          <ul>
            <li>
              <img src="img/picture1.jpg" alt="Feature 1" />
              <h3>Foto 1</h3>
              <p>
                Roti PaneDolce menyediakan roti dengan topping yang lumer
                 didalamnya yang selalu disajikan dalam keadaan yang masih bagus.
              </p>
            </li>
            <li>
              <img src="img/picture2.jpg" alt="Feature 2" />
              <h3>Foto 2</h3>
              <p>
                Nikmatin dengan berbagai varian rasa (Coklat,Tiramisu, Greentea, Taro)
              </p>
            </li>
            <li>
              <img src="img/picture3.jpg" alt="Feature 3" />
              <h3>Foto 3</h3>
              <p>
                Nikmatin dengan berbagai varian rasa (Coklat,Tiramisu, Greentea, Taro)
              </p>
            </li>
          </ul>
        </section>
      </main>
      <footer>
        <p>&copy; Pace Dolce</p>
      </footer>
      <script src="script.js"></script>
</body>
</html>