<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pane Dolce</title>
    <link rel="shortcut icon" href="img/pane dolce logo.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="nav-head">
        <h1>Pane Dolce</h1>
     </div>

    <div class="topnav" id="myTopnav">
        <a href="index.html">Home</a>
        <a href="#"class="active">Daftar Order</a>
        <a href="testimoni.html">Testimoni</a>
        <div class="dropdown">
          <button class="dropbtn">Contact Us
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="instagram.html">instagram</a>
            <a href="tiktok.html">Tiktok</a>
            <a href="wa.html">Whatsapp</a>
          </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <br>
    
    <div class="container-gambar">
        <div class="item">
            <img src="img/coklat.jpg"alt="Image 1">
            <h2>Cokelat</h2>
            <p>lembut dengan rasa coklat yang lumer di mulut
            </p>
            <button class="mybtn" onclick="orderform()">Order</button>
        </div>
        <div class="item">
            <img src="img/greentea.jpg" alt="Image 2">
            <h2>greentea</h2>
            <p>rasa green tea yang lumer di padukan dengan roti yang lembut

            </p>
            <button class="mybtn" onclick="orderform()">Order</button>
        </div>
        <div class="item">
            <img src="img/taro.jpg" alt="Image 3">
            <h2>Taro</h2>
            <p>rasa taro yang pas di setiap gigitannya</p>
            <button class="mybtn" onclick="orderform()">Order</button>
        </div>
        <div class="item">
            <img src="img/tiramisu.jpg" alt="Image 3">
            <h2>Tiramisu</h2>
            <p>rasa green tea yang lumer di padukan dengan roti yang lembut

            </p>
            <button class="mybtn" onclick="orderform()">Order</button>
        </div>
    </div>
    <footer>
        <p>&copy; Pace Dolce</p>
      </footer>
      <script src="script.js"></script>
</body>
</html>