<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pane Dolce</title>
    <link rel="shortcut icon" href="img/pane dolce logo.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="nav-head">
    <h1>Pane Dolce</h1>
 </div>
  <div class="topnav" id="myTopnav">
      <a href="index.html">Home</a>
      <a href="Order.html">Daftar Order</a>
      <a href="testimoni.html">Testimoni</a>
      <div class="dropdown">
        <button class="dropbtn">Contact Us
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="instagram.html">instagram</a>
          <a href="#">Tiktok</a>
          <a href="wa.html">Whatsapp</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <div class="alert-container">
      <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Saat Ini Tidak Tersedia.
      </div>
  </div>
  

    <div class="container-sosmed">
      <img src="img/tiktok.png" alt="Photo">
      <h2>Tiktok</h2>
      <p>For Contact Information</p>
      <br>
      <a href="" class="mybtn">Click Here</a>
    </div>
    <footer>
      <p>&copy; Pace Dolce</p>
    </footer>
      <script src="script.js"></script>
</body>
</html>